// bower:scss
@import "../../bower_components/bourbon/dist/_bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower 

//Colors
$bg: #000;
$text: #fff;
$green: #A0C33B;

//Dimensions
$min-space: 5px;
$card-width: 80%;
$card-fixed-width: 180px;
$card-fixed-height: 300px;
$card-height: 80%;
$card-corner: 15px;
$break-large: 560px;

.green {
	color: $green;
}
a {
	text-decoration: none;
	color: $text;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	@include outer-container(100%); 
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-family: $helvetica;
	background-color: #555;
	@include perspective(1200px);
}
h1, h2, h3 {
	margin: 0;
}
h1 {
	font-size: 1.5em;
	line-height: 1.1;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1em;
	margin-bottom: 10px;
}
a {
	margin: 0;
	font-weight: bold;
	font-size: 1.1em;
}
.container {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	main {
		width: 100%;
		@include row;
		padding: $min-space 0;
		@media screen and (min-width: $break-large) {
			padding: 2px;
		}
		@media screen and (max-width: $break-large - 1) {
			height: 100%;
		}
	}
	@media screen and (min-width: $break-large) {
		padding: $min-space;
	}
}
nav {
	width: $card-width;
	margin: 0 auto;
	height: 30px;
	border-bottom-right-radius: $card-corner;
	border-bottom-left-radius: $card-corner;
	color: $text;
	background: transparent;
	@media screen and (min-width: $break-large) {
		display: none;
	}
}
.main-nav {
	@include display(flex);
	@include align-items(center);
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	> li {
		list-style: none;
		@include align-self(center);
		@include flex(1);
	}
}
.brand > a,
.idea > a,
.diy > a {
	display: block;
	text-align: center;
	> img {
		margin-right: $min-space;
	}
}
.shuffle {
	padding: 0;
	margin: 0;
	@include clearfix;
}
#card-list {
	height: $card-height;
}
.animate {
	@include transition(all .5s ease);
}
#active-card {
	z-index: 102;
	position: relative;
	top: 0;
	left: 0;
}
.card {
	z-index: 101;
	list-style: none;
	display: block;
	@include clearfix;
	width: $card-width;
	height: 100%;
	margin: 0 0 3px;
	@media screen and (min-width: $break-large) {
		display: inline-block;
		width: $card-fixed-width;
		height: $card-fixed-height;
		@include transition(transform 1.0s ease-in);
		@include transform-style(preserve-3d);
	}
	p {
		margin: 0;
		font-weight: bold;
		font-size: 1.1em;
	}
	.copy {
		font-size: .6em;
	}
	.goodness {
		font-size: 1.3em;
	}
}
.card > div,
#card-custom {
	position: absolute;
	@include backface-visibility(hidden);
	border-radius: $card-corner;
	padding: 10%;
	width: 100%;
	height: 100%;
}
.card .face {
	background: $bg;
	color: $text;
	z-index: 100;
}
.card .back {
	color: $text;
	background: $bg;
	@include transform(rotateY(-180deg));
}
.card-form {
	@include span-columns(6);
}
.card-display {
	@include span-columns(6);
}
#shuffle-button {
	margin: 15px 0 0;
}
.ss-like {
	font-size: 2em;
}
footer {
	display: none;
	@media screen and (min-width: $break-large) {
		display: block;
		width: 100%;
		height: 30px;
		margin-bottom: 5px;
		border-radius: 12px;
		background: $bg;
		color: $text;
	}
	div {
		margin: 0 auto;
		padding: 7px 0;
		color: $text;
		font-weight: bold;
		font-size: .75em;
		text-align: center;
	}
}