// bower:scss
@import "../../bower_components/bourbon/dist/_bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower 

//Colors
$bg: #000;
$text: #fff;
$green: #A0C33B;
$gray: #555;

//Dimensions
$min-space: 5px;
$card-width: 80%;
$card-fixed-width: 180px;
$card-fixed-height: 300px;
$card-height: 85%;
$card-corner: 15px;
$break-large: 560px;

.green {
	color: $green;
}
.ss-icon {
	font-family: "SSStandard";
	vertical-align: middle;
}
a {
	color: $text;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	@include outer-container(100%); 
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-family: $helvetica;
	background-color: $gray;
	@include perspective(1200px);
}
h1, h2, h3 {
	margin: 0;
}
h1 {
	font-size: 1.8em;
	line-height: 1.1;
	@media screen and (min-width: $break-large){
		font-size: 1.5em;
		line-height: 1.1;
	}
}
h2 {
	font-size: 1.6em;
	@media screen and (min-width: $break-large){
		font-size: 1.3em;
	}
}
h3 {
	font-size: 1.3em;
	margin-bottom: 10px;
	@media screen and (min-width: $break-large){
		font-size: 1em;
	}
}
a {
	margin: 0;
	font-weight: bold;
	font-size: 1.1em;
}
.container {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	main {
		width: 100%;
		@include row;
		padding: $min-space 0;
		@media screen and (min-width: $break-large) {
			padding: 2px;
		}
		@media screen and (max-width: $break-large - 1) {
			height: $card-height;
		}
	}
	@media screen and (min-width: $break-large) {
		padding: $min-space;
	}
}
nav {
	width: $card-width;
	margin: 0 auto;
	height: 30px;
	border-bottom-right-radius: $card-corner;
	border-bottom-left-radius: $card-corner;
	color: $text;
	background: transparent;
	@media screen and (min-width: $break-large) {
		display: none;
	}
}
.main-nav {
	@include display(flex);
	@include align-items(center);
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	> li {
		list-style: none;
		@include align-self(center);
		@include flex(1);
	}
	a {
		text-decoration: none;
	}
}
.brand > a,
.idea > a,
.diy > a {
	display: block;
	text-align: center;
	> img {
		margin-right: $min-space;
	}
}
.shuffle {
	padding: 0;
	margin: 0;
	@include clearfix;
}
#card-list {
	height: 100%;
}
.animate {
	@include transition(all .5s ease);
}
.active-card {
	display: block !important;
}
.active-card > div{
	@include backface-visibility(hidden);
}
.card {
	z-index: 101;
	list-style: none;
	display: none;
	@include clearfix;
	width: $card-width;
	height: 100%;
	margin: 0 0 3px;
	@include transform-style(preserve-3d);
	@media screen and (min-width: $break-large) {
		display: inline-block;
		width: $card-fixed-width;
		height: $card-fixed-height;
		@include transition(transform 1.0s ease-in);
	}
	p {
		margin: 0;
		font-weight: bold;
		font-size: 1.4em;
		@media screen and (min-width: $break-large){
			font-size: 1.1em;
		}
	}
	.hashtag {
		font-size: .75em;
	}
	.long-card {
		font-size: 1.2em;
		@media screen and (min-width: $break-large){
			font-size: .9em;
		}
	}
	.extra-long-card {
		font-size: 1em;
		@media screen and (min-width: $break-large){
			font-size: .7em;
		}
	}
	.copy {
		font-size: .9em;
		@media screen and (min-width: $break-large){
			font-size: .7em;
		}
	}
	.goodness {
		font-size: 1.3em;
	}
}
ul.long-card {
	list-style: disc;
}
.card > div,
#card-custom {
	position: absolute;
	border-radius: $card-corner;
	padding: 10%;
	width: 100%;
	height: 100%;
	z-index: 100;
	@media screen and (min-width: $break-large) {
		@include backface-visibility(hidden);
	}
	

}
.card .face {
	background: $bg;
	color: $text;
	@include transform(scale(1));
}
.card .back {
	color: $bg;
	background: $text;
	@include transform(rotateY(-180deg));
}
.card-form {
	@include span-columns(6);
}
.card-display {
	@include span-columns(6);
}
.home-card h1 + a,
.ideas-card a {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.ideas-card a,
.ideas .owl-item:first-child .card h2 + div {
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	img {
		width: 60px;
		height: auto;
	}
}
.ideas .owl-item:first-child .card h2 + div {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.home-card img,
.bbr {
	width: 60px;
	height: auto;
}
.home-card .bbr {
	margin-top: 66%; 
}
.brand-hash {
	position: absolute;
	left: 10%;
	bottom: 20%;
}
.home-card a,
.owl-item:first-child a {
	text-decoration: none;
}
.active-card.diy-card {
	margin-left: 9%;
}
.diy-card .face,
.diy-card .back {
	img {
		width: 60px;
		height: auto;
	}
	div {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
	}
}
.info-card h3 {
	line-height: 1;
}
#shuffle-button {
	margin: 15px 0 0;
	cursor: pointer;
	p {
		@include display(flex);
		@include align-items(center);
	}
	img {
		width: 24px;
		height: auto;
		margin-right: 5px;
	}
}
.owl-item:first-child {
	margin-left: .125%
}
.ideas .owl-item:first-child {
	margin-left: .205%;
}
[class^='owl'] {
	height: 100%;
	@include clearfix;
}
.swipe-more {
	position: absolute;
	bottom: 8%;
	left: 10%;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	font-size: .75em;
	.swipe {
		width: 48px;
		height: auto;
		margin-left: 10px;
	}
}
.facebook,
.twitter,
.pinterest {
	background: url('../images/icon-FB.png');
	background-size: cover;
	display: inline-block;
	height: 32px;
	width: 32px;
	position: relative;
}
.facebook:hover,
.twitter:hover,
.pinterest:hover {
	opacity: .75;
}
.ideas .ideas-card .face,
.diy-card .back,
.info-card .face {
	background: $text;
	color: $bg;
}
.twitter {
	background: url('../images/icon-T.png');
	background-size: cover;
}
.pinterest {
	background: url('../images/icon-P.png');
	background-size: cover;
}
.like {
	font-size: 2em;
}
.nav-card:not(.info-card):not(.home-card) {
	cursor: pointer;
}
ul.long-card {
	padding-left: 20px;
	li {
		font-weight: bold;
		margin-bottom: 10px;
	}
}
ol.long-card li {
	font-size: .75em;
	font-weight: bold;
}
.author {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-weight: bold;
	color: $green;
	text-decoration: none;
	@include transform-style(preserve-3d);
}
.author:before {
	content: "—"
}
footer {
	display: block;
	width: $card-width;
	height: 30px;
	margin: 0 auto 5px;
	border-radius: 12px;
	color: $gray;
	div {
		margin: 0 auto;
		padding: 7px 0;
		color: $text;
		font-weight: bold;
		font-size: .75em;
		text-align: center;
		@media screen and (min-width: $break-large) {
			color: #777;
			a {
				color: #777;
			}
		}
		
	}
	@media screen and (min-width: $break-large) {
		width: 100%;
		background: $bg;
	}
}
.info > span{
	@media screen and (max-width: $break-large - 1) {
		display: none;
	}
}
.info a {
	text-decoration: none;
}